*{
    margin:0;
    padding :0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}
body{
    background: url(./background.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center center;
}
h1{
    text-align: center;
    margin: 25px 0 0 0;
}
.bold{
    font-weight: 800;
    letter-spacing: 1.5px;
}
.container{
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    margin-bottom:0;
    background-color: rgba(93, 68, 201, 0.6);
    
}
input{
    min-height: 2em;
    min-width: 14rem;
    display: block;
}
textarea{
    display: block;
}
form{
    margin:30px auto;
}
button{
    border:none;
    border-radius: 10px;
    display: block;
    min-width: 70%;
    min-height: 2.5em;
    margin: 15px auto;
}
label{
    color:whitesmoke;
    text-size : 18px;
}